In [1]:
import pandas as pd
import numpy as np

house = pd.read_csv("./kc_house_data.csv")
house.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [2]:
house = house.drop(['id', 'date'],axis=1)
house.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(house, test_size=0.2, random_state=42) 
featureTrain = train.iloc[:, 1:]
featureTest = test.iloc[:, 1:]
valTrain = train.iloc[:, 0]
valTest = test.iloc[:, 0]

print (type(valTest))

<class 'pandas.core.series.Series'>

In [26]:
#normalization
from sklearn.preprocessing import normalize
featureTrain_normalized = pd.DataFrame(normalize(featureTrain, norm='l2'))

featureTest_normalized = pd.DataFrame(normalize(featureTest, norm='l2'))

In [27]:
featureTrain.head(3)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
6325,3,1.75,1780,13095,1.0,0,0,4,9,1780,0,1983,0,98042,47.3670,-122.152,2750,13095
13473,2,1.00,1000,3700,1.0,0,0,3,6,800,200,1929,0,98118,47.5520,-122.290,1270,5000
17614,3,1.00,1080,7486,1.5,0,0,3,6,990,90,1942,0,98146,47.4838,-122.335,1170,7800

In [28]:
featureTrain_normalized.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.00003,0.000018,0.017824,0.131127,0.000010,0.0,0.0,0.000040,0.000090,0.017824,0.000000,0.019857,0.0,0.981744,0.000474,-0.001223,0.027537,0.131127
1,0.00002,0.000010,0.010168,0.037620,0.000010,0.0,0.0,0.000031,0.000061,0.008134,0.002034,0.019613,0.0,0.997634,0.000483,-0.001243,0.012913,0.050838
2,0.00003,0.000010,0.010934,0.075787,0.000015,0.0,0.0,0.000030,0.000061,0.010023,0.000911,0.019661,0.0,0.993615,0.000481,-0.001239,0.011845,0.078966

In [29]:
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
regForest = RandomForestRegressor(random_state=0)
regForest.fit(featureTrain, valTrain)
predictVal = regForest.predict(featureTest)

print("Root mean squared error: %.6f"
      % np.sqrt(np.mean(predictVal - valTest) ** 2))

Root mean squared error: 526.200877

In [30]:
regForest1 = RandomForestRegressor(random_state=0)
regForest1.fit(featureTrain_normalized, valTrain)
predictVal = regForest1.predict(featureTest_normalized)

print("Root mean squared error: %.6f"
      % np.sqrt(np.mean(predictVal - valTest) ** 2))

Root mean squared error: 2203.247170

In [37]:
#featureTrain_normalized.iloc[: , 13] = featureTrain.iloc[: , 13]
#featureTrain_normalized.iloc[: , 13]

In [38]:
from sklearn.neural_network import MLPRegressor
MLP = MLPRegressor()
MLP.fit(featureTrain, valTrain)
MLPPredictVal = MLP.predict(featureTest)
print("Root mean squared error: %.6f"
      % np.sqrt(np.mean(MLPPredictVal - valTest) ** 2))

Root mean squared error: 13946.509982

In [39]:
from sklearn.ensemble import AdaBoostRegressor
AdaBoostReg = AdaBoostRegressor()
AdaBoostReg.fit(featureTrain, valTrain)
AdaBoostRegPredictVal = AdaBoostReg.predict(featureTest)
print("Root mean squared error: %.6f"
      % np.sqrt(np.mean(AdaBoostRegPredictVal - valTest) ** 2))

Root mean squared error: 291577.796752

In [41]:
from sklearn.ensemble import BaggingRegressor
BaggingRegressorReg = BaggingRegressor()
BaggingRegressorReg.fit(featureTrain, valTrain)
BaggingRegressorRegPredictVal = BaggingRegressorReg.predict(featureTest)
print("Root mean squared error: %.6f"
      % np.sqrt(np.mean(BaggingRegressorRegPredictVal - valTest) ** 2))

Root mean squared error: 285.741648

In [42]:
from sklearn.ensemble import ExtraTreesRegressor
ExtraTreesReg = ExtraTreesRegressor()
ExtraTreesReg.fit(featureTrain, valTrain)
ExtraTreesRegPredictVal = ExtraTreesReg.predict(featureTest)
print("Root mean squared error: %.6f"
      % np.sqrt(np.mean(ExtraTreesRegPredictVal - valTest) ** 2))

Root mean squared error: 616.359207

In [43]:
from sklearn.ensemble import GradientBoostingRegressor
GradientBoostingReg = GradientBoostingRegressor()
GradientBoostingReg.fit(featureTrain, valTrain)
GradientBoostingRegPredictVal = GradientBoostingReg.predict(featureTest)
print("Root mean squared error: %.6f"
      % np.sqrt(np.mean(GradientBoostingRegPredictVal - valTest) ** 2))

Root mean squared error: 422.942944

In [44]:
from sklearn.gaussian_process import GaussianProcessRegressor
GaussianProcessReg = GaussianProcessRegressor()
GaussianProcessReg.fit(featureTrain, valTrain)
GaussianProcessRegPredictVal = GaussianProcessReg.predict(featureTest)
print("Root mean squared error: %.6f"
      % np.sqrt(np.mean(GaussianProcessRegPredictVal - valTest) ** 2))

KeyboardInterrupt:

In [45]:
from sklearn.neighbors import KNeighborsRegressor
KNeighborsReg = KNeighborsRegressor()
KNeighborsReg.fit(featureTrain, valTrain)
KNeighborsRegPredictVal = KNeighborsReg.predict(featureTest)
print("Root mean squared error: %.6f"
      % np.sqrt(np.mean(KNeighborsRegPredictVal - valTest) ** 2))

Root mean squared error: 20342.401573

In [ ]:
#http://scikit-learn.org/stable/modules/model_evaluation.html#regression-metrics